// Variables
$body-bg:                   #000 !default;
$border-radius:             0 !default;
$border-radius-sm:          0 !default;
$border-radius-lg:          0 !default;
$input-btn-border-width:    0 !default;
$font-family-sans-serif:    "Comfortaa", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !default;

$yellow:                    #d3af16 !default;
$yellow-dk:                 #ce890d !default;
$lime:                      #d7df23 !default;
$lime-dk:                   #9fc610 !default;
$green:                     #2bcc77 !default;
$green-dk:                  #25a565 !default;
$blue:                      #1176b5 !default;
$blue-dk:                   #0d638e !default;
$teal:                      #25a8c1 !default;
$teal-dk:                   #0d8a9b !default;
$red:                       #f7643c !default;
$red-dk:                    #dd441b !default;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
}

h1 {
  font-size: 1.75rem;
  color: #fff;
  text-align: center;
}

.intro,
.card-weather {
  position: relative;
  opacity: 1;
  transform: translateY(0) translateZ(0);
  transition: all .25s ease-out;
}

#root,
.app {
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  position: absolute;
}

.app {
  margin-top: 2rem;
  width: 23.4375rem;
  height: 41.6875rem;
  left: 50%;
  margin-left: -(23.4375rem * .5);
  display: flex;
  flex-direction: column;
  background: $teal url(./assets/Weather_BG-Snowy.svg) no-repeat center center;
  background-size: cover !important;

  &.centered {
    .intro {
      transform: translateY(14.75rem);
    }
  }

  &.sunny {
    background: $yellow url(./assets/Weather_BG-Sunny.svg) no-repeat center center;

    .btn-reset {
      &:hover {
        &:before,
        &:after {
          background-color: $yellow-dk;
        }
      }

      &:before,
      &:after {
        background-color: $yellow;
      }
    }

    .form-control-search {
      color: $yellow-dk;

      &::placeholder {
        color: $yellow;
      }

      &:focus {
        color: $yellow-dk;
        border-color: $yellow-dk;
        box-shadow: 0 0 0 0.2rem rgba(darken($yellow-dk, 10%), 0.35);
      }
    }
  }

  &.partly-cloudy {
    background: $lime url(./assets/Weather_BG-Partly-Cloudy.svg) no-repeat center center;

    .btn-reset {
      &:hover {
        &:before,
        &:after {
          background-color: $lime-dk;
        }
      }

      &:before,
      &:after {
        background-color: $lime;
      }
    }

    .form-control-search {
      color: $lime-dk;

      &::placeholder {
        color: $lime;
      }

      &:focus {
        color: $lime-dk;
        border-color: $lime-dk;
        box-shadow: 0 0 0 0.2rem rgba(darken($lime-dk, 10%), 0.35);
      }
    }
  }

  &.cloudy {
    background: $green url(./assets/Weather_BG-Cloudy.svg) no-repeat center center;

    .btn-reset {
      &:hover {
        &:before,
        &:after {
          background-color: $green-dk;
        }
      }

      &:before,
      &:after {
        background-color: $green-dk;
      }
    }

    .form-control-search {
      color: $green-dk;

      &::placeholder {
        color: $green;
      }

      &:focus {
        color: $green-dk;
        border-color: $green-dk;
        box-shadow: 0 0 0 0.2rem rgba(darken($green-dk, 10%), 0.35);
      }
    }
  }

  &.rainy {
    background: $blue url(./assets/Weather_BG-Rainy.svg) no-repeat center center;

    .btn-reset {
      &:hover {
        &:before,
        &:after {
          background-color: $blue-dk;
        }
      }

      &:before,
      &:after {
        background-color: $blue;
      }
    }

    .form-control-search {
      color: $blue-dk;

      &::placeholder {
        color: $blue;
      }

      &:focus {
        color: $blue-dk;
        border-color: $blue-dk;
        box-shadow: 0 0 0 0.2rem rgba(darken($blue-dk, 10%), 0.35);
      }
    }
  }

  &.snowy {
    background: $teal url(./assets/Weather_BG-Snowy.svg) no-repeat center center;

    .btn-reset {
      &:hover {
        &:before,
        &:after {
          background-color: $teal-dk;
        }
      }

      &:before,
      &:after {
        background-color: $teal;
      }
    }

    .form-control-search {
      color: $teal-dk;

      &::placeholder {
        color: $teal;
      }

      &:focus {
        color: $teal-dk;
        border-color: $teal-dk;
        box-shadow: 0 0 0 0.2rem rgba(darken($teal-dk, 10%), 0.35);
      }
    }
  }

  &.stormy {
    background: $red url(./assets/Weather_BG-Stormy.svg) no-repeat center center;

    .btn-reset {
      &:hover {
        &:before,
        &:after {
          background-color: $red-dk;
        }
      }

      &:before,
      &:after {
        background-color: $red;
      }
    }

    .form-control-search {
      color: $red-dk;

      &::placeholder {
        color: $red;
      }

      &:focus {
        color: $red-dk;
        border-color: $red-dk;
        box-shadow: 0 0 0 0.2rem rgba(darken($red-dk, 10%), 0.35);
      }
    }
  }
}

.btn-reset {
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  right: .5rem;
  top: ((2.75rem - 1.75rem) * .5);

  :focus {
    box-shadow: none;
  }

  &:hover {
    &:before,
    &:after {
      background-color: $teal-dk;
    }
  }

  &:before,
  &:after {
    content: "";
    display: block;
    cursor: pointer;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $teal;
  }

  &:before {
    top: 50%;
    transform: rotate(45deg);
  }

  &:after {
    bottom: 50%;
    transform: rotate(-45deg);
  }
}

.form-group-search {
  position: relative;
  margin-bottom: 1.5rem;

  > .invalid-feedback {
    display: block;
  }
}

.form-control-search {
  position: relative;
  color: $teal-dk;
  height: calc(2em + 0.75rem);
  padding: .5rem .75rem;
  line-height: 2;
  background-color: rgba(255,255,255,.85);

  &::placeholder {
    color: $teal;
  }

  &:focus {
    color: $teal-dk;
    background-color: #fff;
    border-color: $teal-dk;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(darken($teal-dk, 10%), 0.35);
  }

  + .invalid-feedback {
    display: block;
    margin-top: 0;
    color: #fff;
    font-style: italic;
    border: 1px solid #fff;
    border-top: 0 solid transparent;
    padding: .25rem .5rem;
  }
}

.card-weather {
  color: #fff;
  position: relative;
  background-color: transparent;
  border: none;
  flex-grow: 1;
  justify-content: space-between;
  animation: fadeIn ease-out .4s;
  animation-iteration-count: 1;
  -webkit-animation: fadeIn ease-out .4s;
  -webkit-animation-iteration-count: 1;
  -moz-animation: fadeIn ease-out .4s;
  -moz-animation-iteration-count: 1;
}

.card-date {
  font-size: 1rem;

  .text-display {
    font-size: 1.5rem;
    display: block;
  }
}

.card-icn {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-icn-item {
  width: 50%;
  margin: 0 auto 2rem;
}

.card-icn-label {
  font-size: 2rem;
}

.card-location {
  font-size: 1.5rem;
  text-align: right;
  margin: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  #root,
  .app {
    width: 100%;
    left: 0;
    margin-left: 0;
  }

  h1 {
    font-size: 8vw;
  }

  .app {
    margin-top: 0;
    height: auto;

    &.centered {
      .intro {
        transform: translateY(33.5vh);
      }
    }
  }

  .card-date {
    font-size: 5vw;

    .text-display {
      font-size: 7.5vw;
    }
  }

  .card-icn-label {
    font-size: 9vw;
  }

  .card-location {
    font-size: 7.5vw;
  }
}

@media (max-width: 768px) and (min-width: 567px) and (orientation:landscape) {
  h1 {
    font-size: 1.75rem;
  }

  .app {
    margin-top: 0;
    background-position: center center;

    &.centered {
      .intro {
        transform: translateY(25vh);
      }
    }
  }

  .card-date {
    font-size: 1rem;
  }

  .card-icn-label,
  .card-location {
    font-size: 1.5rem;
  }

  .card-date {
    .text-display {
      font-size: 1.5rem;
    }
  }

  .card-icn {
    padding-top: 0;

    .card-subtitle {
      display: none;
    }
  }

  .card-icn-item {
    width: 20%;
    margin: -3.75rem auto 1rem;
  }

  .card-icn-label {
    margin-bottom: .5rem;
  }
}